.mainFooter__container {
	width: 100%;
	height: 150px;
	background-color: var(--color-naranja);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}

.social__container{
 display: flex;
 flex-direction: column;
 gap:8px;
}
.social__container p{
	color: white;
}
.social__content{
	display: flex;
	gap: 10px;
}

.logo__container {
	width: auto;
	height: 110px;
}
.logo__img {
	height: 100%;
}
